development:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: items_development
  pool: 5
  username: XXXXXX
  password: XXXXXX
  host: XXXXXX

test:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: items_test
  pool: 5
  username: XXXXXX
  password: XXXXXX
  host: XXXXXX

production:
  adapter: mysql2
  encoding: utf8
  reconnect: false
  database: items_production
  pool: 5
  username: XXXXXX
  password: XXXXXX
  host: XXXXXX
